[user]
	name = obcat
	email = obcat@icloud.com
[core]
	excludesFile = ~/.gitignore_global
	autocrlf = input
	editor = vim
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[alias]
	bra = branch
	cmit = commit
	cout = checkout
	rtor = restore
	stus = status
	adog = log --all --decorate --oneline --graph
	ss = status --short
	unst = restore --staged
