[submodule ".vim/pack/plugins/start/vim-easymotion"]
	path = .vim/pack/plugins/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule ".vim/pack/plugins/opt/ack.vim"]
	path = .vim/pack/plugins/opt/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/pack/plugins/start/vim-unimpaired"]
	path = .vim/pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/pack/plugins/opt/vim-vinegar"]
	path = .vim/pack/plugins/opt/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule ".vim/pack/plugins/opt/previm"]
	path = .vim/pack/plugins/opt/previm
	url = https://github.com/previm/previm.git
[submodule ".vim/pack/plugins/start/vimdoc-ja"]
	path = .vim/pack/plugins/start/vimdoc-ja
	url = https://github.com/vim-jp/vimdoc-ja.git
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
