[user]
	name = obcat
	email = obcat@icloud.com
[core]
	autocrlf = input
	editor = vim
[blame]
	date = human
[commit]
	verbose = true
[diff]
	colorMoved = default
[init]
	defaultBranch = main
[log]
	date = human
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[alias]
	amend = commit --amend
	graph = log --all --decorate --oneline --graph
	ignored = ls-files --others --ignored --exclude-standard --directory
	short = status --short
	today = graph --since=midnight
	tracked = ls-files --cached
	unshallow = fetch --unshallow
	unstage = restore --staged
	untracked = ls-files --others --exclude-standard --directory
[include]
	path = ~/.gitconfig_local
