[user]
	name = obcat
	email = obcat@icloud.com
[core]
	autocrlf = input
	editor = vim
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[alias]
	graph = log --all --decorate --oneline --graph
	ss = status --short
	today = graph --since=midnight
	unstage = restore --staged
[commit]
	verbose = true
[include]
	path = ~/.gitconfig_local
