[user]
	name = obcat
	email = obcat@icloud.com
[core]
	autocrlf = input
	editor = vim
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[alias]
	graph = log --all --decorate --oneline --graph
	ignored = ls-files --others --ignored --exclude-standard --directory
	ss = status --short
	today = graph --since=midnight
	tracked = ls-files --cached
	unstage = restore --staged
	untracked = ls-files --others --exclude-standard --directory
[commit]
	verbose = true
[include]
	path = ~/.gitconfig_local
